.shadow-collection {
  position: absolute;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.shadow-card {
  opacity: 0.8001;
}

.shadow-card-gradient {
  opacity: 0;
}

.shadow {
  display: block;
  position: absoluTe;
  background-color: #808080;
  margin: 5px;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.shadow-gradient {
  display: block;
  position: absolute;
  margin: 5px;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-image: -webkit-linear-gradient(left, #DCDCDC, #808080);
}

